/* You're welcome to change any of this! */
* {
    box-sizing: border-box;
}
body{
    background-color: #fefefe;
}
header {
    margin: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        background: linear-gradient(-45deg, #a1c2ea, #b6f4da, #75d1f3, #e4a8f6);
        background-size: 300% 20%;
        animation: gradient 15s ease infinite;
        height: 20vh;
        text-align: center;
        padding-top: 20px;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    
}

section {
   
    border: solid; width: 300px;
    padding: 20px 5vh;
    margin: 50px;
    text-align: left;
}

h2{ 
    text-align: center;  
}

#tutorials {
    background-color:#e8e3f8;
    border-color: #e4a8f6;
}
#homework {
    background-color: #cefae8;
    border-color: #86f7c8;
}
#class-exercises {
    background-color: #b5e8fa;
    border-color: #50c4ee;
}
#inspiration {
    background-color: rgb(247, 211, 187);
    border-color: coral;
}

