body {
   background-color:#F0F4EF; 
}

header {
    background-color: #b4cded;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px 15vw;
    text-align: center;
}
nav {
    text-align: center;
    background-color: black;
    padding: 18px;
}

a:link {
    color:white;
}
 
a:visited{
    color: white;
} 

a:hoover {
    color:plum ;
 }

footer {
    background-color:#344966;
    padding: 50px;
    color: white;
    text-align: center;
}

#images {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

#mountians, #sand {
    padding-right: 15px;
}